{% load static %}  
    <footer class="footer-bs">
        <div class="row">
          <div class="col-md-4 footer-brand animated fadeInLeft">
              <img class="logo__footer" src="{% static 'img/logo.png' %}">
                <p>Producido por Blitz Communications SAC, TV Empresa es el Primer Canal de Televisión con programación especializada en Negocios, Emprendimiento e Innovación. Presenta en su programación, historias de emprendedores exitosos, programas especializados, temas de ayuda, capacitación empresarial, motivación, casos de emprendedores exitosos, gente de marketing, consejos para mejorar su negocio y mucho más.</p>
            </div>
          <div class="col-md-2 footer-nav animated fadeInUp">
              <h4>Menu —</h4>
              <div class="col-md-12">
                    <ul class="pages">
                        <li><a href="#">Programas</a></li>
                        <li><a href="#">Auspicios</a></li>
                        <li><a href="#">En vivo</a></li>
                        <li><a href="#">Contáctenos</a></li>
                        <li><a href="{% url 'web:politicas' %}">Políticas</a></li>

                      
                    </ul>
                </div>
            </div>
          <div class="col-md-2 footer-social animated fadeInDown">
              <h4>Siguenos en —</h4>
              <ul>
                  <li><a href="#">Facebook</a></li>
                  <li><a href="#">Twitter</a></li>
                  <li><a href="#">Instagram</a></li>
                </ul>
            </div>
          <div class="col-md-4 footer-ns animated fadeInRight">
              <h4>Suscríbete</h4>
                <p>Recibe todas las alertas de los nuevos contenidos que tengamos</p>
                <p>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Ingresa tu correo">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-envelope"></span></button>
                      </span>
                    </div><!-- /input-group -->
                 </p>
            </div>
        </div>
    </footer>